.uWcon
    span.p8
        b= i18n('Articles')
        != i18n(site.posts.length+' in total')
    span.p8
        b= i18n('Categories')
        != i18n(site.category_count+' in total')
    span.p8
        b= i18n('Tags')
        != i18n(site.tag_count+' in total')